<section class="movies">

    <h1 class="section-title">All Movies</h1>

    <div class="movies-list">

        <div class="movie" *ngFor="let movie of movies">
            <div class="movie-img">
                <img [src]="movie.poster" alt="poster">
            </div>

            <div class="movie-detail">
                <h2>{{movie.name}}</h2>
                <p>{{movie.cast}}</p>
                <p>{{movie.rating}}</p>

                <button class="btn btn-dark" routerLink="/movie/{{movie.id}}" routerLinkActive="router-link-active" >View More</button>
            </div>

        </div>  


    </div>

</section>